
html {
    width: 65,5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    font-family: sans-serif, cursive;
    margin: 0;
    padding: 0;
}

:root {
    --color-title: blue;
    --font-size: font-size: 25px;
}
.wrapper-fixado {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.wrapper-header {
    background-color: #fff;
    box-shadow: 1px 1px 5px #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-title{
    font-size: 30px;
    font-family: var(--font-Handjet);
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(119, 0, 255);
}

.wrapper-ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
}

.wrapper-h2 {
    font-size: 50px;
    text-transform: uppercase;
}

.wrapper-ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bi {
    font-size: 18px;
}

.wrapper-ul a:hover{
    border-bottom: 2px solid green;
    color:#272727cc;
}

.wrapper-main {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}

.wrapper-h2 {
    padding: 40px 15px;
    text-align: center;
    font-size: var(--font-size);
}

.texto {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}

.texto-lado {
    flex-direction: row-reverse;
}

.article {
    margin-bottom: 50px;
    padding: 15px;
    border-bottom: 2px solid #ccc;
}

.texto img {
    width: 400px;
}

.texto p {
    padding: 10px;
    margin: 0;
    line-height: 2;
    text-align: justify;
}

.article-historia {
   margin-top: 100px;
}

.h3-historia {
    text-align: center;
    color: var(--color-title);
    text-transform: uppercase;
    padding: 0px 0px 100px 0px;
}

.p {
    width: 80%;
}

.paragrafos {
    line-height: 2;
    padding: 15px 0px 15px 0px;
}

.H3-tipos {
    font-size: var(--font-size);
    text-transform: uppercase;
    margin: 75px  0px 50px  0px;
    text-align: center;
    color: var(--color-title);
}

.paragrafos-vermelho {
    color: red;
}

.paragrafos-ve:hover {
    background-color: rgba(105, 63, 63, 0.541);
    outline: 1px solid red;
} 

.paragrafos-branco {
    color: rgb(116, 115, 115);
    text-shadow: 1px 1px black;
}

.paragrafos-br:hover {
    background-color: #cccccc60;
    outline: 1px solid rgb(54, 54, 54);
}

.paragrafo-cin:hover {
    background-color: #6664649a;
    outline: 1px solid rgb(32, 32, 32);
}

.paragrafo-az:hover {
    background-color: rgba(39, 39, 207, 0.103);
    outline: 1px solid blue;
}

.paragrafo-azul {
    color: blue;
}
.paragrafo-marrom {
    color: #752e2e; 
}

.paragrafo-marr:hover {
    background-color: #684e4e73;
    outline: 1px solid #9c3131;
}

.paragrafo-amarelo {
    color: #ffcc00;
}

.paragrafo-amare:hover {
    background-color: #ffd83d23;
    outline: 1px solid yellow;
}

.paragrafo-dourado {
    color: gold;
}

.paragrafo-doura:hover {
    background-color: #ffd83d23;
    outline: 1px solid gold;
} 

.paragrafo-verde {
    color: rgb(0, 90, 0);
}

.paragrafo-verd:hover {
    background-color: rgba(0, 128, 0, 0.089);
    outline: 1px solid rgb(0, 255, 0);
}

.paragrafo-rox:hover {
    background-color: rgba(128, 0, 128, 0.137);
    outline: 1px solid rgb(48, 0, 48);
} 
.paragrafo-roxo {
    color: purple;
}

.paragrafo-laranja {
    color: #FF6000;
}

.paragrafo-laran:hover {
    outline: 1px solid #FF6000;
    background-color: rgba(255, 166, 0, 0.349);
}

.paragrafo-preta {
    font-weight: bold;
}

.paragrafo-pret:hover {
    background-color: #0000007a;
    outline: 1px solid black;
}

.centraliza {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: start;
    gap: 10px;
    padding: 50px;
}

.form {   
    background-color: #ccc;
}

input{  
   padding: 15px;
   border: none;
   background-color: #f3f2f2;
    border-radius: 5px;
}

button {
    border-radius: 4px;
    border: none;
    padding: 10px;
    background-color: rgb(192, 192, 192);
}

button:hover {
    box-shadow: 0px 0px 4px green,
    0px 0px 5px blue;
}

.resposta {
    background-color: red;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-love {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-love ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    list-style: none;
}

.container-love a {
    padding: 8px;
}
.container-footer li a{
    text-decoration: none;
    color: black;
    cursor: pointer;  
}

.container-footer li:hover {
    box-shadow: 0px 0px 4px rgb(119, 0, 255);
    border-radius: 5px;
}

.bi-instagram {
    margin-right: 15px;
}

.bi-instagram:hover {
    color: purple;
} 

.container-footer li a:hover{
    text-decoration: underline;
    
}

.footer {
    margin-top: 50px;
    box-shadow: 1px 1px 5px #000000;
    background-color: #ffffff;
    padding: 50px;
}
.footer-h2 {
    text-align: center; 
    text-shadow: 1px 1px 3px purple;
}

