html {
    width: 65,5%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, cursive;
    margin: 0;
    padding: 0;
}

:root {
    --color-title: blue;
}
.wrapper-fixado {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.wrapper-header {
    background-color: #fff;
    box-shadow: 1px 1px 10px #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-title{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 47, 255);
}


.wrapper-ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
}
.wrapper-ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.bi {
    font-size: 18px;
}
.wrapper-ul a:hover{
    border-bottom: 2px solid green;
    color:#272727cc;
}

.wrapper-main {
    background-color: #fff;
 
    width: 90%;

    margin: 0 auto;
}


.wrapper-h2 {
    padding: 40px 15px;
    text-align: center;
    font-size: 25px;
}
.texto {
    padding:  25px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}
.texto-lado {
    flex-direction: row-reverse;
}
.article {
    margin-bottom: 50px;
    padding: 15px;
    border-bottom: 2px solid #ccc;
}

.texto img {
    width: 400px;   
}

.texto p {
    padding: 0;
    margin: 0;
    line-height: 2;
    text-align: justify;
}

.article-historia{
   margin-top: 50px;
}
.h3-historia {
    text-align: center;
    color: var(--color-title);
    text-transform: uppercase;
    padding: 0px 0px 100px 0px;
}
.junto {
    display: flex;
    gap: 20px;
}
.outroLado {
    flex-direction: row-reverse;
}
.article-historia p {
    line-height: 2;
    text-align: left;   
    width: 80%;
}
