html {
    width: 65,5%;
    box-sizing: border-box;
    
}

body {
    background-color: #ccc;
    margin: 0;
    padding: 0;

    margin-bottom: 5000px;
}

.wrapper-fixado {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    
    background-color: #fff;
    box-shadow: 1px 1px 10px #000000;
}

.main-title{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 47, 255);
}


.wrapper-ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper-ul li a {
    text-decoration: none;
    color: black;

}
.wrapper-ul a:hover{
    border-bottom: 2px solid green;
}
